@font-face {
    font-family: "typo_draft";
    src:
      url("../../typo_draft/Typo\ Draft\ Demo.otf");
  }

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto ;
    grid-template-areas: 'header' 'main' 'footer';
    height: 100vh;
    background-image: url(../img/main_backgroung.jpg);
    background-attachment: fixed;
    background-size: cover;    
    background-repeat: no-repeat;
    background-position: center;
}

.main-header {
    grid-area : 'header';
    height: 100vh;
    opacity: 0.70;
    position: relative;
}

.main-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.80;
    padding: 1rem 1rem;
    z-index: 60;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.main-nav__item {
    margin: 0 2rem;
}

.main-nav__item a {
    font-size: 2.5em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.2rem 0;
}

.header-text {
    padding: 1rem;
    position: absolute;
    top: 30%;
    left: 5%;
    display: inline-block;
    color: black;
    text-align: left;
}

.header-text p {
    margin: auto;
    font-size: 4em;
    font-weight: bold;
    text-shadow: 0 0 5px white;
    font-family: typo_draft;
}

.header-text p {
    text-indent: 3.5rem;
}

/*  main    */




/*  footer  */
.main-footer {
    background: black;
    padding: 1.8rem;
    /*
    margin-top: 1.5rem;
    */
    grid-area: footer;
}

.main-footer__links,
#footerNav p{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-footer__link,
#footerNav p{
    margin: 0.4rem 0;
}

.main-footer__link a,
#footerNav p{
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color:#ccc;
}